.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(to right,rgb(6, 70, 64),rgb(6, 155, 138));
}
.con{
    background-image: linear-gradient(to right,rgb(6, 70, 64),rgb(6, 155, 138));
}
.item{
      border: 0px solid gray;
      background-color: white;
      border-radius: 20px;
      height: 300px;
      width: 260px;
      margin-top: 0px;
      margin-left: 35px;
      margin-top: 10px;
      margin-bottom: 20px;
      animation-name: item1;
      animation-duration: 5s;
      animation-iteration-count:1;
      animation-timing-function:linear;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(14, 10, 10, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.item:hover{
    cursor: pointer;
    border: 2px solid white;
}

/* @keyframes item1{
    0%{
       border-radius: 20px;
    }
    
    25%{
        transform:rotate(10deg);
    }
    50%{
             transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        border-radius: 20px;
    }
} */
.tit{
    margin-top: 0px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
    text-align: center;
   font-weight: 1000;
   background-image: linear-gradient(to right,rgb(6, 70, 64),rgb(6, 155, 138));
   margin-bottom: 0px;
}
.img1{
    border: 0px solid gray;
      background-color: white;
      border-radius: 20px 20px 0px 0px;
      height: 200px;
      width: 260px;
      margin-top: 0px;
      margin-left: 0px;
      animation-name: item2;
      animation-duration: 5s;
      animation-iteration-count:1;
      animation-timing-function:linear;
}
/* @keyframes item2{
    0%{
       border-radius: 20px;
       height: 300px;
    }
    
    50%{
        border-radius: 50%;
        height: 250px;
    }
   
    100%{
        border-radius: 20px;
        height: 200px;
    }
} */
.cont{
    margin-top: 10px;
   margin-left: 27px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

