.footer{
    margin-top: 0px;
    background-image: linear-gradient(to right,rgb(6, 70, 64),rgb(6, 155, 138));
    color:black;
    text-align: center;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 20px;
   
}
.foot{
margin-top: 0px;
font-family:'brush Script MT',cursive;
font-size: 50px;
font-weight: 1000;
padding-top:0px;
margin-top:'10px';
padding: 50px;
}