.back1{
    background-image: linear-gradient(to right,rgb(6, 70, 64),rgb(6, 155, 138));
    height: 200px;
}
.secondhalf1{
    height: 300px;
    background-color:rgb(13, 192, 171) ;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.login{
   border: 0px solid white;
   background-color: white;
   height: 350px;
   width: 700px;
   margin-top: -150px;
   margin-left: 300px;
   position: relative;
   border-radius: 20px;
   filter: drop-shadow(12px 12px 12px  gray);
   animation-name:form ;
   animation-duration: 5s;
}
@keyframes form{
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.loginImage{
    height: 350px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    filter:blur(1px);
    position: absolute;
    border-radius: 20px 0px 0px 20px;

}
.loginForm{
    position: absolute;
    color:black;
    margin-left: 300px;
}
.formTop{
    font-size: 29px;
    font-weight: 1000;
    margin-left: 150px;
    color: rgb(6, 70, 64);
    margin-top: 10px;
    margin-bottom: 30px;
}
input{
    border-bottom: 2px solid gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 70px;
    padding: 1px;
    width: 250px;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
    border-bottom:2px solid gray;
}
button{
   margin-left: 120px;
   width: 160px;
   margin-top: 50px;
   height: 30px;
   background-color:rgb(9, 105, 96) ;
   color: white;
   font-weight: 1000;
   font-size: 15px;
   border: 1px solid rgb(9, 105, 96);
}
.sign{
    margin-left: 90px;
    margin-top: 40px;
    font-size: 15px;
    color: gray;
}
.sign a{
    color: gray;
    text-decoration: underline;
    
}